<div class="sidebar">
  <h2>MessMate</h2>

  <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>

  <p class="section">Mess</p>
  <a routerLink="/admin/mess/pending" routerLinkActive="active">Pending</a>
  <a routerLink="/admin/mess/approved" routerLinkActive="active">Approved</a>

  <p class="section">Management</p>
  <a routerLink="/admin/owners" routerLinkActive="active">Owners</a>
  <a routerLink="/admin/staff" routerLinkActive="active">Staff</a>
  <a routerLink="/admin/orders" routerLinkActive="active">Orders</a>
  <a routerLink="/admin/users" routerLinkActive="active">Users</a>
</div>