<div class="page">
  <div class="page-header">
    <div>
      <h1>{{ isEditMode ? 'Edit Plan' : 'Create Plan' }}</h1>
      <p>Manage pricing and plan details</p>
    </div>
  </div>

  <form #planForm="ngForm" class="form-card">

    <div class="form-grid">

      <!-- Name -->
      <div class="field">
        <label>Plan Name</label>
        <input type="text" name="name" [(ngModel)]="plan.name" required />
      </div>

      <!-- Plan Type -->
      <div class="field">
        <label>Plan Type</label>
        <select name="planType" [(ngModel)]="plan.planType" required>
          <option [value]="1">Weekly</option>
          <option [value]="2">Monthly</option>
        </select>
      </div>

      <!-- Duration -->
      <div class="field">
        <label>Duration Days</label>
        <input type="number" name="durationDays" [(ngModel)]="plan.durationDays" required min="1" />
      </div>

      <!-- Min Active -->
      <div class="field">
        <label>Min Active Days</label>
        <input type="number" name="minActiveDays" [(ngModel)]="plan.minActiveDays" required min="1" />
      </div>

      <!-- Price -->
      <div class="field">
        <label>Price</label>
        <input type="number" name="price" [(ngModel)]="plan.price" required min="1" />
      </div>

      <!-- Meals -->
      <div class="field full">
        <label>Meal Availability</label>

        <label>
          <input type="checkbox" name="isBreakfast" [(ngModel)]="plan.isBreakfast" />
          Breakfast
        </label>

        <label>
          <input type="checkbox" name="isLunch" [(ngModel)]="plan.isLunch" />
          Lunch
        </label>

        <label>
          <input type="checkbox" name="isDinner" [(ngModel)]="plan.isDinner" />
          Dinner
        </label>

      </div>

    </div>

    <div class="form-actions">
      <button type="button" routerLink="/owner/plans">Cancel</button>

      <button type="button" [disabled]="planForm.invalid" (click)="savePlan(planForm)">
        Save Plan
      </button>
    </div>

  </form>
</div>