<div class="sidebar">

  <div class="sidebar-header">
    <h2>MessMate</h2>
  </div>

  <ul class="menu">
    <li routerLink="/staff/dashboard" routerLinkActive="active" class="menu-item">
      <span>🏠</span>
      <span>Dashboard</span>
    </li>

    <li routerLink="/staff/orders" routerLinkActive="active" class="menu-item">
      <span>📦</span>
      <span>Orders</span>
    </li>

    <li routerLink="/staff/history" routerLinkActive="active" class="menu-item">
      <span>🕘</span>
      <span>Delivery History</span>
    </li>
  </ul>

  <!-- Footer -->
  <div class="footer">
    <ul>
      <li routerLink="/staff/profile" routerLinkActive="active" class="menu-item">
        <span>👤</span>
        <span>Profile</span>
      </li>

      <li class="menu-item logout" >
        <span>🚪</span>
        <span>Logout</span>
      </li>
    </ul>
  </div>

</div>