<div class="page">

    <h2>My Orders</h2>

    <div class="card">
        <table>
            <tr>
                <th>Date</th>
                <th>Meal</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>25 Apr</td>
                <td>Lunch</td>
                <td>Delivered</td>
            </tr>

            <tr>
                <td>24 Apr</td>
                <td>Dinner</td>
                <td>Skipped</td>
            </tr>
        </table>
    </div>

</div>