<div *ngIf="mess">

  <h2>{{ mess.name }}</h2>
  <p>Location: {{ mess.place }}</p>
  <p>{{ mess.description }}</p>
  <p>{{ mess.addressLine }}</p>
  <p>{{ mess.city }}</p>
  <p>{{ mess.state }}</p>
  <p>{{ mess.postalCode }}</p>

  <h3>Plans</h3>

<div class="plan-container">

  <div class="card" *ngFor="let plan of plans">
    <p><strong>{{ plan.name }}</strong></p>
    <p>Price: ₹{{ plan.price }}</p>
    <p>Duration: {{ plan.duration }} days</p>

    <button class="view-btn"
      [routerLink]="['/customer/plan-detail', plan.id]">
      View Plan
    </button>
  </div>

</div>

</div>